<sun-form form="residence" data="residence"></sun-form>
<hr/>
<table ng-gridview="residence"
       resource="$residence"
       change="save('residences')"
       data="application.residences"
       title="<h4>Current Residences</h4>">
    <thead>
        <tr>
            <th data-name="address">Address</th>
            <th data-name="city">City</th>
            <th data-name="state">State</th>
            <th data-name="$options" data-width="160" >Options</th>
        </tr>
    </thead>
</table>
<div class="hide">
    <sun-form ng-gridedit="residence"
              form="residence"
              data="residence.$selected"
              edit="true" >
    </sun-form>
</div>
